.hand-container {
  position: relative;
  margin: auto;
  overflow: visible; /* Laissé à visible ici pour que les cartes puissent dépasser si on veut une animation par exemple, le clipping sera fait par bridge-table-container */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand-card {
  position: absolute;
  width: 100px; /* Taille par défaut des cartes ajustée */
  height: 145px; /* Hauteur par défaut des cartes ajustée */
  cursor: pointer;
  transition: transform 0.2s;
  transform-origin: bottom center;
}

.hand-card:hover {
  transform: translateY(-10px) scale(1.05);
}